/*global*/
h1{
    padding: 1em;
}
body{
    font: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a{
    text-decoration: none;
    color: #424242;
}
.left{
    width: 100%;
}

.right{
    width: 40%;
}
/*table styles*/
table{
    width: 100%;
}

th{
    background-color: lightgray;
}

tr{
    border-bottom: 1px solid black;
}

.container{
    display: flex;
}
/*form styles*/
#inputform{
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
 position: sticky; 
}

input[type="text"]{
    border: none;
    line-height: 50px;
    width: 100%;
}

button{
    height: 35px;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    .right{
    width: 100%;
}
}