/*global*/

h1{
    padding: 1em;
}
body{
    font: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a{
    text-decoration: none;
    color: #424242;
}

/*table styles*/
table{
    width: 100%;
}

th{
    background-color: lightgray;
}

tr{
    border-bottom: 1px solid black;
}

.columns{
    float: left;
    padding: 10px;
}
.left{
    width: 70%;
}

.right{
    width: 25%;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}
/*form styles*/
#inputform{
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    float: right;
    position: sticky;
}

input[type="text"]{
    border: none;
    line-height: 50px;
    width: 100%;
}

button{
    height: 35px;
    width: 100%;
}
