body{
    font: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table{
    width: 100%;
    border-block-color: black;
}

th{
    height: 50px;
}

a{
    text-decoration: none;
    color: #424242;
}
.form-rows{
    padding: 1em;
    text-align: center;
    border-style: solid;
    border-block-color: black;
}
form{
    width: 75%;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
}

input[type="text"]{
    border: none;
    line-height: 50px;
    width: 100%;
}

button{
    height: 35px;
    width: 100%;
}
